@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Poppins:wght@200;300;400&family=Square+Peg&display=swap');
*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}




